@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')

@value --font-mono: 'Roboto Mono', monospace;


root, html, body, main {

    font-family: 'Gideon Roman', serif;
    --font-romano: 'Gideon Roman', serif;
    --font-mono: 'Roboto Mono', monospace;
    --light-blue: #5ea3ec;
    --light-red: #f64444;
    --light-orange: #ffb400;
    height: 100%;
    padding: 0;
    margin: 0;
}


body::-webkit-scrollbar {
    display: none;
}


.button {
    border: 1px black solid;
    font-family: var(--font-mono);
    font-size: .7rem;
    background: transparent;
    width: fit-content;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    transition: .6s;
}

.button:hover {
    background: black;
    color: white;
}

* {
    transition: .6s;
    box-sizing: border-box;
}

* ::selection {
    color: white;
    background: black;
}

